
/* navbar starts here */
.navbar ul li{
   
    font-size: 1.5rem;
    font-weight:lighter;
}



.navbar ul li:hover{
   
     font-weight: bolder;
     text-decoration: underline;
     text-decoration-color: white;
     
}


/* navbar ends here */


/* search meal section starts here */
#containerparent{
    position: relative;
    top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 21px;
  }

  
input[type=text] {
    background-color: white;
    border-radius: 23px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }
  
  
  input[type=text]:focus {
    background-color: lightblue;
    
      border: 3px solid #555;
    
    
  }
  
  button {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D; /* Green */
    border-radius: 10px;
  }
  
  
  
  button:hover{
    background-color: #e7e7e7; 
    color:red;
  }
  
  
  
  .innerStyle img {
    width: 100px;
  }
  
  .innerStyle {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
  }
  
  #container {
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  }
  #container2 {
    position: relative;
    top:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
  

  /* search meal section ends here */

  
/* footer starts here */

.footer{
    position: relative;
    height: 600px;
     top:800px; 
    color: #fff; 
    padding: 30px 0; 
    
    
 }

 .footer-links a { 
    color: #fff; 
    text-decoration: none; 
    margin-right: 15px; 
    transition: color 0.3s ease; 
} 

.footer-links a:hover { 
    color: #adb5bd; 
} 


 
/* footer ends here */